.section {
  background-color: lightgreen;
}

.container {
  display: grid;
  width: 1140px;
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 506px;
    grid-gap: 20px;
}
