.link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  border-radius: 50px;
  margin: 45px auto 0;
  padding: 12px 54px 14px;
  border-color: #404040;
  color: #404040;
  background-color: transparent;
  display: table;
}

.link:hover {
  color: #fff;
  background-color: #333;
}
